In [93]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.datasets import fetch_20newsgroups
import random
import string
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from modelling import *
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import LSTM
from tensorflow.keras.callbacks import EarlyStopping
import pickle
import random
import string
from sklearn.preprocessing import LabelEncoder

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [94]:
%load_ext autoreload
%autoreload 2
from modelling import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [95]:
data_class  = DataClass(use_prediction= True,use_enhanced="lstm",custom=True)
data_class.create_dataset()
modelling_data = DataModel(data = data_class.data_model,
                           use_enhanced= data_class.use_enhanced,
                           custom_test_index=data_class.enhanced_index,
                           max_len=200,
                           custom=True)
modelling_data.create_padding()
modelling_data.test

modifying features
['link', 'employer', 'occupation', 'name_sex', 'firstname_lower']
['link', 'employer', 'occupation', 'name_sex', 'firstname_lower_lstm']

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\marti\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Shape of training tensor:  (205, 200)
Shape of testing tensor:  (27, 200)

                                         message  label
18                              prenom femme ang      1
24                  patron prenom femme hermance      1
25                       prenom femme marguerite      0
34                           prenom femme silvie      0
65                         prenom femme angeline      1
69                    metages prenom homme felix      1
82                           prenom homme george      1
104                 patron prenom femme gilberte      1
121     labrye manoeuvre prenom homme francisque      1
126                   fils prenom homme magloire      1
132                       prenom femme madeleine      0
138                       prenom femme tiennette      0
142                             prenom homme eug      1
147  fin lansait enttinateur prenom homme claude      1
159                 san pla prenom homme gilbert      1
193                          prenom femme marthe      0
197              domest lavane prenom homme paul      0
200            debon menuisier prenom homme jean      1
216                          prenom homme victor      1
217                       prenom femme madeleine      0
219                        prenom homme francois      0
225  chef patron entiinateur prenom homme claude      1
231                       prenom femme madeleine      0
232                  coiffeur prenom homme odore      1
233            chef eublinat prenom femme berthe      1
234                       chef prenom homme omer      1
236             sans mof prenom femme petronille      0

In [46]:
freq_name = data_class.freq_name.copy()
freq_name = freq_name[freq_name['total']>1000].sort_values(by = 'total')
data_model_translate = freq_name[["firstname"]]
data_model_translate["Y"] = data_model_translate['firstname']
data_model_translate.columns = ["X","Y"]
data_model_translate

C:\Users\marti\AppData\Local\Temp\ipykernel_2724\415725307.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_model_translate["Y"] = data_model_translate['firstname']

            X         Y
734  stéphane  stéphane
733   raimond   raimond
732  dominica  dominica
731    mathie    mathie
730   sicarie   sicarie
..        ...       ...
4    françois  françois
3      jeanne    jeanne
2      pierre    pierre
1        jean      jean
0       marie     marie

[735 rows x 2 columns]

In [47]:

def alter_word(word):
    operations = []
    if len(word) < 3:
        possible_ops = ['replace_one', 'delete_one']
    else:
        possible_ops = ['replace_two', 'replace_one', 'delete_one', 'delete_two']

    for op in possible_ops:
        if op == 'replace_one':
            pos = random.randint(0, len(word) - 1)
            new_letter = random.choice(string.ascii_letters)
            new_word = word[:pos] + new_letter + word[pos + 1:]
            new_word = str.lower(new_word)
            operations.append(new_word)

        elif op == 'replace_two':
            pos1, pos2 = random.sample(range(len(word)), 2)
            new_letter1, new_letter2 = random.sample(string.ascii_letters, 2)
            new_word = list(word)
            new_word[pos1], new_word[pos2] = new_letter1, new_letter2
            
            operations.append(str.lower(''.join(new_word)))

        elif op == 'delete_one':
            pos = random.randint(0, len(word) - 1)
            new_word = word[:pos] + word[pos + 1:]
            new_word = str.lower(new_word)
            operations.append(new_word)

        elif op == 'delete_two':
            pos1, pos2 = random.sample(range(len(word)), 2)
            new_word = ''.join(letter for i, letter in enumerate(word) if i not in [pos1, pos2])
            new_word = str.lower(new_word)
            operations.append(new_word)

    return operations

data = []
for ope in tqdm(range(50)):
    for index in range(data_model_translate.shape[0]):
        name,true =data_model_translate.iloc[index]
        altered_name = alter_word(name)   
        out = pd.DataFrame([altered_name,[true]*len(altered_name)]).T
        data.append(out)
    
data_model = pd.concat(data,axis=0)
data_model.columns = ['X','Y']

100%|██████████| 50/50 [00:16<00:00,  2.96it/s]

In [48]:

label_encoder = LabelEncoder()
# Tokenize words
tokenizer = Tokenizer(num_words=500, oov_token="<OOV>",char_level=True)
tokenizer.fit_on_texts(data_model['X'])
X_seq = tokenizer.texts_to_sequences(data_model['X'])
X_padded = pad_sequences(X_seq, padding='post', maxlen=8)

Y_encoded = label_encoder.fit_transform(data_model['Y'])
Y_categorical = to_categorical(Y_encoded)
X_train, X_test, Y_train, Y_test = train_test_split(X_padded, Y_categorical, test_size=0.1, random_state=42)
# Assuming your LabelEncoder is named label_encoder and has been fitted

# Saving the LabelEncoder
# with open('label_encoder.pickle', 'wb') as handle:
#     pickle.dump(label_encoder, handle, protocol=pickle.HIGHEST_PROTOCOL)

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_3 (Embedding)     (None, 8, 16)             8000

 bidirectional_4 (Bidirecti  (None, 8, 200)            93600
 onal)

 bidirectional_5 (Bidirecti  (None, 200)               240800
 onal)

 dense_8 (Dense)             (None, 100)               20100

 dense_9 (Dense)             (None, 735)               74235

=================================================================
Total params: 436735 (1.67 MB)
Trainable params: 436735 (1.67 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

LSTM

In [ ]:
model = Sequential([
    Embedding(500, 16, input_length=8),
    Bidirectional(LSTM(100, return_sequences=True)),
    Bidirectional(LSTM(100)),
    Dense(100, activation='relu'),
    Dense(Y_categorical.shape[1], activation='softmax')
])
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
early_stopping = EarlyStopping(monitor='val_loss', patience=10)

model.summary()


early_stopping = EarlyStopping(monitor='val_loss', patience=10)
history = model.fit(X_train,
                    Y_train,
                    epochs=20,
                    validation_data=(X_test, Y_test),
                    validation_split = 0.25,
                    callbacks = [early_stopping],
                    verbose=2)

In [50]:
model.save('my_model.h5')
import pickle
with open('tokenizer.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)

c:\Users\marti\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [51]:
# Loading the LabelEncoder
with open('label_encoder.pickle', 'rb') as handle:
    loaded_label_encoder = pickle.load(handle)

In [53]:
# First, we tokenize and pad the new X_test strings as we did with the training data
X_test_new =data_class.data.loc[data_class.enhanced_index]['firstname'].str.lower().values.tolist()
X_test_new_seq = tokenizer.texts_to_sequences(X_test_new)
X_test_new_padded = pad_sequences(X_test_new_seq, padding='post', maxlen=8)

# Then we predict using the trained model
predictions_new = model.predict(X_test_new_padded)
predicted_classes_new_indices = np.argmax(predictions_new, axis=1)
predicted_class_labels_new = label_encoder.inverse_transform(predicted_classes_new_indices)
prediction_new_df = pd.DataFrame({
    'Original_X_test': X_test_new,
    'Predicted_Category': predicted_class_labels_new
})
data_class  = DataClass(use_prediction= True,use_enhanced=True,custom=True)

prediction_new_df['true'] = data_class.data.loc[data_class.enhanced_index]['groundtruth'].values
prediction_new_df
data_class.data.loc[data_class.enhanced_index,'firstname_lower_lstm'] = predicted_class_labels_new

1/1 [==============================] - 0s 40ms/step

In [54]:
data_class.data.loc[data_class.enhanced_index,'firstname_lower_lstm']

18         angèle
24       hermance
25     marguerite
34         silvie
65       angeline
69          felix
82        georges
104      gilberte
121    francisque
126      magloire
132     madeleine
138    étiennette
142        eugène
147        claude
159       gilbert
193        marthe
197          paul
200          jean
216        victor
217     madeleine
219      francois
225        claude
231     madeleine
232      théodore
233        berthe
234          omer
236    petronille
Name: firstname_lower_lstm, dtype: object

In [ ]:
from fuzzywuzzy import process
choices = data_model['Y'].unique().tolist()
all_pred = []
for x in X_test_new:
    pred = process.extract(x,choices= choices,limit=1)[0][0]
    all_pred.append(pred)

In [114]:
%load_ext autoreload 
%autoreload 2 
from modelling import *
data_class  = DataClass(use_prediction= True,use_enhanced="lstm",custom=True)
data_class.create_dataset()
modelling_data = DataModel(data = data_class.data_model,
                           use_enhanced= data_class.use_enhanced,
                           custom_test_index=data_class.enhanced_index,
                           max_len=200,
                           custom=True)
modelling_data.create_padding()
modelling_data.test
data_class.data_model.loc[data_class.enhanced_index]

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
modifying features
['link', 'employer', 'occupation', 'name_sex', 'firstname_lower']
['link', 'employer', 'occupation', 'name_sex', 'firstname_lower_lstm']
Shape of training tensor:  (162, 200)
Shape of testing tensor:  (70, 200)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\marti\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                            message  label
18                              ch prenom femme ang      1
24                     patron prenom femme hermance      1
25                       ep prenom femme marguerite      0
34                           ep prenom femme silvie      0
65                            prenom femme angeline      1
69                       metages prenom homme felix      1
82                              prenom homme george      1
104                    patron prenom femme gilberte      1
121  fr re labrye manoeuvre prenom homme francisque      1
126                      fils prenom homme magloire      1
132                      p f prenom femme madeleine      0
138                          prenom femme tiennette      0
142                             ch prenom homme eug      1
147     fin lansait enttinateur prenom homme claude      1
159                 ch san pla prenom homme gilbert      1
193                             prenom femme marthe      0
197                 domest lavane prenom homme paul      0
200               debon menuisier prenom homme jean      1
216                             prenom homme victor      1
217                          prenom femme madeleine      0
219                        id prenom homme francois      0
225     chef patron entiinateur prenom homme claude      1
231                       pr prenom femme madeleine      0
232                coiffeur p prenom homme th odore      1
233               chef eublinat prenom femme berthe      1
234                          chef prenom homme omer      1
236                sans mof prenom femme petronille      0

In [115]:
model_socface = Model(data = modelling_data,model_name= "mlp")
model_socface.fit()
model_socface.predict()
model_socface.compute_results()
model_socface.results

Epoch 1/200
5/5 - 2s - loss: 0.9425 - accuracy: 0.5116 - val_loss: 0.7979 - val_accuracy: 0.5758 - 2s/epoch - 425ms/step
Epoch 2/200
5/5 - 1s - loss: 0.9158 - accuracy: 0.4884 - val_loss: 0.6761 - val_accuracy: 0.5758 - 1s/epoch - 285ms/step
Epoch 3/200
5/5 - 2s - loss: 0.7685 - accuracy: 0.5891 - val_loss: 0.6644 - val_accuracy: 0.5758 - 2s/epoch - 412ms/step
Epoch 4/200
5/5 - 3s - loss: 0.7537 - accuracy: 0.5349 - val_loss: 0.6771 - val_accuracy: 0.5758 - 3s/epoch - 533ms/step
Epoch 5/200
5/5 - 2s - loss: 0.8209 - accuracy: 0.5039 - val_loss: 0.6905 - val_accuracy: 0.5758 - 2s/epoch - 473ms/step
Epoch 6/200
5/5 - 2s - loss: 0.6927 - accuracy: 0.5736 - val_loss: 0.7409 - val_accuracy: 0.4242 - 2s/epoch - 465ms/step
Epoch 7/200
5/5 - 2s - loss: 0.6918 - accuracy: 0.5426 - val_loss: 0.5710 - val_accuracy: 0.5758 - 2s/epoch - 413ms/step
Epoch 8/200
5/5 - 2s - loss: 0.6286 - accuracy: 0.5736 - val_loss: 0.5396 - val_accuracy: 0.9697 - 2s/epoch - 387ms/step
Epoch 9/200
5/5 - 2s - loss: 0.4905 - accuracy: 0.8605 - val_loss: 0.4945 - val_accuracy: 0.7879 - 2s/epoch - 355ms/step
Epoch 10/200
5/5 - 2s - loss: 0.3744 - accuracy: 0.8915 - val_loss: 0.2262 - val_accuracy: 0.9697 - 2s/epoch - 325ms/step
Epoch 11/200
5/5 - 2s - loss: 0.1816 - accuracy: 0.9535 - val_loss: 0.1205 - val_accuracy: 0.9697 - 2s/epoch - 310ms/step
Epoch 12/200
5/5 - 2s - loss: 0.1196 - accuracy: 0.9535 - val_loss: 0.0993 - val_accuracy: 0.9697 - 2s/epoch - 340ms/step
Epoch 13/200
5/5 - 2s - loss: 0.0833 - accuracy: 0.9612 - val_loss: 0.0852 - val_accuracy: 0.9697 - 2s/epoch - 320ms/step
Epoch 14/200
5/5 - 1s - loss: 0.1009 - accuracy: 0.9612 - val_loss: 0.0694 - val_accuracy: 0.9697 - 1s/epoch - 295ms/step
Epoch 15/200
5/5 - 2s - loss: 0.0646 - accuracy: 0.9690 - val_loss: 0.0585 - val_accuracy: 0.9697 - 2s/epoch - 314ms/step
Epoch 16/200
5/5 - 2s - loss: 0.0447 - accuracy: 0.9922 - val_loss: 0.0948 - val_accuracy: 0.9697 - 2s/epoch - 304ms/step
Epoch 17/200
5/5 - 2s - loss: 0.0404 - accuracy: 0.9922 - val_loss: 0.0698 - val_accuracy: 0.9697 - 2s/epoch - 309ms/step
Epoch 18/200
5/5 - 2s - loss: 0.0113 - accuracy: 1.0000 - val_loss: 0.1076 - val_accuracy: 0.9697 - 2s/epoch - 306ms/step
Epoch 19/200
5/5 - 1s - loss: 0.0183 - accuracy: 0.9922 - val_loss: 0.0987 - val_accuracy: 0.9697 - 1s/epoch - 285ms/step
Epoch 20/200
5/5 - 2s - loss: 0.0137 - accuracy: 0.9922 - val_loss: 0.0730 - val_accuracy: 0.9697 - 2s/epoch - 337ms/step
Epoch 21/200
5/5 - 2s - loss: 0.0060 - accuracy: 1.0000 - val_loss: 0.0581 - val_accuracy: 0.9697 - 2s/epoch - 359ms/step
Epoch 22/200
5/5 - 2s - loss: 0.0059 - accuracy: 1.0000 - val_loss: 0.0586 - val_accuracy: 0.9697 - 2s/epoch - 323ms/step
Epoch 23/200
5/5 - 2s - loss: 0.0032 - accuracy: 1.0000 - val_loss: 0.0666 - val_accuracy: 0.9697 - 2s/epoch - 326ms/step
Epoch 24/200
5/5 - 2s - loss: 0.0068 - accuracy: 1.0000 - val_loss: 0.0741 - val_accuracy: 0.9697 - 2s/epoch - 349ms/step
Epoch 25/200
5/5 - 2s - loss: 0.0029 - accuracy: 1.0000 - val_loss: 0.0631 - val_accuracy: 0.9697 - 2s/epoch - 334ms/step
Epoch 26/200
5/5 - 2s - loss: 0.0025 - accuracy: 1.0000 - val_loss: 0.1114 - val_accuracy: 0.9394 - 2s/epoch - 325ms/step
Epoch 27/200
5/5 - 2s - loss: 0.0078 - accuracy: 1.0000 - val_loss: 0.0954 - val_accuracy: 0.9697 - 2s/epoch - 305ms/step
Epoch 28/200
5/5 - 1s - loss: 0.0046 - accuracy: 1.0000 - val_loss: 0.0710 - val_accuracy: 0.9697 - 1s/epoch - 298ms/step
Epoch 29/200
5/5 - 2s - loss: 8.9646e-04 - accuracy: 1.0000 - val_loss: 0.0955 - val_accuracy: 0.9697 - 2s/epoch - 319ms/step
Epoch 30/200
5/5 - 2s - loss: 9.0239e-04 - accuracy: 1.0000 - val_loss: 0.1146 - val_accuracy: 0.9697 - 2s/epoch - 305ms/step
Epoch 31/200
5/5 - 2s - loss: 5.0508e-04 - accuracy: 1.0000 - val_loss: 0.1252 - val_accuracy: 0.9697 - 2s/epoch - 331ms/step
1/1 - 0s - loss: 0.0257 - accuracy: 0.9938 - 436ms/epoch - 436ms/step
3/3 [==============================] - 0s 100ms/step - loss: 0.0725 - accuracy: 0.9714

{'accuracy_train': 99.38271641731262,
 'accuracy_test': 97.14285731315613,
 'model': 'mlp',
 'custom': 0,
 'missing_names': 'lstm'}