In [3]:
%load_ext autoreload
%autoreload 2
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from modelling import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
%load_ext autoreload
%autoreload 2
from modelling import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [37]:
data_class  = DataClass(use_prediction= True,use_enhanced=True,custom=False)
data_class.create_dataset()
modelling_data = DataModel(data = data_class.data_model,
                           custom_test_index=data_class.enhanced_index,
                           custom=False)
modelling_data.create_padding()
modelling_data.test

modifying features
['link', 'employer', 'occupation', 'name_sex', 'firstname_lower']
['link', 'employer', 'occupation', 'name_sex', 'firstname_lower_enhanced']
Shape of training tensor:  (162, 50)
Shape of testing tensor:  (70, 50)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\marti\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                            message  label
113                              prenom femme marie      0
69                      metages prenom homme floris      1
57                            prenom femme juliette      0
218            ch labrye menseuvr prenom homme jean      1
104                    patron prenom femme gilberte      1
..                                              ...    ...
90      crousiere entiiiateur prenom homme fran ois      1
117                     sans pof prenom femme marie      0
217                          prenom femme marceline      0
64                       fille sp prenom femme onie      0
127  chef oabrienson manoeuvre prenom homme gervais      1

[70 rows x 2 columns]

https://towardsdatascience.com/text-classification-using-k-nearest-neighbors-46fa8a77acc5

In [38]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(modelling_data.x_train)
# transform a count matrix to a normalized tf-idf representation (tf-idf transformer)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [43]:
knn = KNeighborsClassifier(n_neighbors=5,
                           weights = 'distance')
# training our classifier ; train_data.target will be having numbers assigned for each category in train data
clf = knn.fit(X_train_tfidf, modelling_data.y_train)
train_pred = clf.predict(X_train_tfidf)
accuracy_train = accuracy_score(modelling_data.y_train,train_pred)
print(f'accurcacy score on train is {accuracy_train}')

accurcacy score on train is 1.0

In [44]:
x_test = modelling_data.x_test.copy()
# building up feature vector of our input
X_new_counts = count_vect.transform(x_test)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)
test_pred = clf.predict(X_new_tfidf)
accuracy_test = accuracy_score(modelling_data.y_test,test_pred)
print(f'accurcacy score on test is {accuracy_test}')

accurcacy score on test is 0.9142857142857143